body {
  color: white;
  background-color: black;
}

body.iframe-wrapper {
  padding: 0;
  margin: 0;
}

.site {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.player {
  position: fixed;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  height: 40px;
  width: 100%;
  bottom: 0;
}
